<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Toinhoitacity\Tmdb\Api\TmdbRepositoryInterface" type="Toinhoitacity\Tmdb\Model\TmdbRepository"/>
    <preference for="Toinhoitacity\Tmdb\Api\Data\TmdbInterface" type="Toinhoitacity\Tmdb\Model\Tmdb" />
    <preference for="Toinhoitacity\Tmdb\Service\ImportImageInterface" type="Toinhoitacity\Tmdb\Service\ImportImage"/>
    <preference for="Toinhoitacity\Tmdb\HTTPClient\Token\ApiTokenInterface" type="Toinhoitacity\Tmdb\HTTPClient\Token\ApiToken"/>
    <preference for="Toinhoitacity\Tmdb\HTTPClient\Image\ImageUriInterface" type="Toinhoitacity\Tmdb\HTTPClient\Image\ImageUri"/>
    <preference for="Toinhoitacity\Tmdb\WebService\TmdbWebServiceInterface" type="Toinhoitacity\Tmdb\WebService\TmdbWebService"/>
</config>